<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/app.css" />
</head>

<body>
    <div className="CQ">
        <div class="content">
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/signup">
                <button style="align-self:center;margin:3rem">Signup</button>
            </a>
        </div>
    </div>
</body>

</html>