<link rel="stylesheet" href="/styles/app.css" />
<div className="login">
    <h1 style="margin-top: 4rem;">SignIn</h1>
    <form method="POST" action="/login">
        <div style="text-align: left;">
            <label>
                <h3>Username</h3>
            </label>
            <input type="text" name="username" placeholder="Enter Username" />
            <label>
                <h3>Password</h3>
            </label>
            <input type="password" name="password" placeholder="Enter Password" />
        </div>
        <button type="submit" style="align-self:center">SignIn</button>
    </form>
</div>

<% if(error) { %>
    <div style="padding:10px; color:rgb(206, 25, 25);">
        <h4>
            <%= error %>
        </h4>
    </div>
    <% } %>